<html lang="en">
	<head>
		<title>PaletteMate</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/{{style}}.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
	</head>
	<body>
		<nav>
			<a href="/">Palettemate</a>
			<a href="/profile">Profile</a>
			{{#if loggedIn}}
			  <a href="/?logout=true">Logout</a>
			{{else}}
			  <a href="/login">Login</a>
			{{/if}}
		</nav>
		<main>
			{{{ body }}}
		</main>
	</body>
</html>