<div id="profile-header">
	<h1>Hello, {{user.username}}</h1>
</div>
<div id="palette-box-header" class="list-box-header">
	<input type="text" placeholder="Search" id="palette-search-filter" name="filter">
	<a href="/?palette=new"><button>New Palette</button></a>
	<a id="my-paints-link" href="/profile/my-paints">My Paints</a>
</div>
<div id="palette-box" class="list-box"></div>
<script type="text/javascript" src="/js/profile.js"></script>
